pipeline/Shabbir_Pipeline_Parent.json
{
	"name": "Shabbir_Pipeline_Parent",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Shabbir_SQL_to_Landing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[landing_pipeline_logging]",
					"storedProcedureParameters": {
						"Pipeline_name": {
							"value": {
								"value": "@activity('Execute Pipeline1').output.pipelineName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_SQLDB_LinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-10-18T12:38:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}